/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
dump.rdb

# rspec failure tracking
.rspec_status

# Jetbrains
.idea

# Avoid committing gem file when releasing
*.gem
